.user {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: skyblue;
    margin: 100px 10px 0 50px;
}

.Tooltip {
    position: relative;
    text-align: center;
    top: -15px;
    left: 10px;
    background: gray;
    width: 80px;
    height: 30px;
    line-height: 30px;
}

.StatusList {
    text-align: left;
    background-color: cadetblue;
    width: 80px;
    margin: 0 0 0 10px;
}

.hook-user {
    width: 150px;
    height: 50px;
    background-color: skyblue;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
}
